<!Doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>网页未找到</title>
<link rel="stylesheet"  href="/css/error.css" />
</head>
<body>
<div id="main">
    <img src="image/error.jpg" >
    <p> <h1>Not Found </h1></p>
</div>
</body>
</html>